.hero-pizza {
    background-image: url("../imgs/pizza.png");
    background-size: cover;
}

.hero-pizza-title {
    background-color: white;
    padding-top: .25em;
    text-align: center;
    opacity: .7;
}
