/* Tightly coupled */

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.nav {
    list-style-type: none;
}

.nav-item {
    display: inline-block;
}

.row {
    clear: both;
}

.column {
    float: left;
}

.column-big {
    width: 80%;
}

.column-small {
    width: 20%;
}

.hero {
    /* Relative path */
    background-image: url("../imgs/background.jpeg");
    height: 300px;
}

@media screen and (max-width: 768px) {
    .column-big {
        width: 100%;
    }

    .column-small {
        clear: both;
        width: 100%;
        border: 1px solid red;
    }

    .hero {
        display: none;
    }
}
