/*
 * 1. Base or reset rules
 * 2. Modules rules (as they are usually positioned in the page)
 *    1. Blocks
 *    2. Elements
 *    3. States
 * 3. Layout (columns, AKA grid system)
 */

/* Base rules */
body {
    margin: 0;
    padding: 0;
    background-color: #E6ECF0;
    font-family: 'Lato', sans-serif;
}

a {
    color: #3B94D9;
}

/* Modules */

/* Navigation module */
.nav-menu {
    list-style-type: none;
    background-color: #fff;
    float: left;
}

/* Navigation menu elements */
.nav-item {
    display: inline-block;
    font-weight: bold;
}

.nav-link {
    color: #B3BCC3;
    text-decoration: none;
}

.nav-link:hover {
    color: #3B94D9;
}

.inline-form {
    display: inline-block;
}

.nav-right{
    margin-top: 12px;
    float: right;
}

/* Module button */
.button {
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #3B94D9;
}

/* State / Modifiers */
.button-highlighted {
    background-color: #3B94D9;
    color: #fff;
}

.button-regular {
    background-color: #fff;
    color: #3B94D9;
}

/* Header */
.header {
    background-color: #fff;
}

/* Search box */
.search-box {
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #E6ECF0;
    background-image: url("http://via.placeholder.com/13x13");
    background-repeat: no-repeat;
    background-position: right;
}

/* Panel */
.panel {
    background-color: #fff;
}

/* Hero */
.hero {
    /* Relative path */
    background-image: url("../imgs/background.jpeg");
    height: 300px;
}

/* Profile picture */
.profile-pic {
    border-radius: 100px;
}

#location {
    list-style-image: url("http://via.placeholder.com/18x18");
}

/* Layout */
.column {
    float: left;
}

/* States */
.column-small {
    width: 25%;
}

.column-big {
    width: 48%;
}

.row {
    overflow: auto;
}